.voiceModel{
    position: absolute;
    z-index: 111111;
    top:0;
    left:0;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
}
.voiceModel .voice-search{
    height:280px;
}
.voiceModel .micIcon{
position: relative;
 height: 60px;
 width: 60px;
 font-size: 2.5rem;
 border-radius: 50%;
 z-index: 1;
}
.voiceModel .micIcon::before{
    position: absolute;
    content: '';
    height: 60px;
    width:60px;
    background: rgba(0,0,0,0.5);
    animation: animateIcon 1s forwards infinite;
    z-index: 0;
    border-radius: 50%;

}
@keyframes animateIcon{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.1);
    }
}